/* I am using this to remove default spacing from browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /*These are my font family if segoe UI will not work then sans-serif will be applied*/
  font-family: "Segoe UI", sans-serif;
  /* It is a background color of my project*/
  background-color: #f5f5f5;
  /* this is the text color*/
  color: #333333;
  padding : 20px;
}

/* Styling for the header section */
header {
    text-align: center;
    /* I centered everything to make it look like a proper profile section */
    margin-bottom: 20px;
    /* space below header */
}

/* it is for styling the image */
header img {
    width: 150px;
    height: 150px;
    /* these are the height and width of image*/
    border-radius: 50%;
    /*it will make image circular */
    margin-top: 10px;
    border: 3px solid #111;

}

/* Styling headings */
header h1 {
    font-size: 28px;
    /* it will increase my font size of name  */
}

header h2 {
    font-size: 18px;
    font-weight: normal;
    
}

